{% load i18n %}
{% load compress %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Djangular Events" %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Djangular Events">
    <meta name="author" content="">

    {# <link href="{{ STATIC_URL }}img/favicon.ico" rel="icon" type="image/x-icon"> #}
    {% block css %}
    {% compress css %}
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient { filter: none; }
    </style>
    <![endif]-->
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak , .x-ng-cloak {
            display: none;
        }
    </style>
    {% endcompress css %}
    {% endblock css %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if eq IE 7]>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
</head>
<body>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="brand" href="{% url 'home' %}">Djangevents</a>
                <ul class="nav">
                    <li>
                        <a href="#/events/">Events</a>
                    </li>
                    <li>
                        <a href="#/events/new">Create Event</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.3.0/ui-bootstrap-tpls.min.js"></script>

    {% compress js %}
    {% block js %}{% endblock js %}
    {% endcompress %}
</body>
</html>
