{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div ng-app="EventsApp" ng-cloak>

    <div ng-controller="EventsController" ng-init="init()">

        <div class="event-list">
            <ul class="nav nav-pills">
                <li ng-repeat="event in events">
                    <a href="javascript://" ng-click="setCurrentEvent(event)">{[{ event.name }]}</a>
                </li>
            </ul>
        </div>


        <div class="event-details">
            <img ng-src="{[{ currentEvent.imageUrl }]}" alt="{[{ currentEvent.name }]}">

            <h2 ng-bind="currentEvent.name"></h2>

            <div class="row-fluid">
                <div class="span8">
                    <div><strong>Date:</strong> {[{ currentEvent.date | date:'mediumDate' }]}</div>
                    <div><strong>Time:</strong> {[{ currentEvent.time }]}</div>
                </div>
                <div class="span4">
                    <address>
                        <strong>Address:</strong> <br>
                        {[{ currentEvent.location.address }]} <br>
                        {[{ currentEvent.location.city }]}, {[{ currentEvent.location.province }]}
                    </address>
                </div>
            </div>
            <hr>
            <h3>Sessions</h3>
            Order by:
            <select ng-model="sortOrder" class="input-medium">
                <option selected value="name">Name</option>
                <option value="-voteCount">Vote counts</option>
            </select>
            Show:
            <select ng-model="query.level" class="input-medium">
                <option selected value="">All</option>
                <option value="Introductory">Introductory</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
            <ul class="thumbnails">
                <li class="span4" ng-repeat="session in currentEvent.sessions | orderBy:sortOrder | filter:query">
                    <h4 class="well-title">{[{ session.name }]}</h4>
                    <h6 style="margin-top:-10px;">{[{ session.creator }]}</h6>
                    <span>Duration: {[{ session.duration }]}</span> <br>
                    <span>Level: {[{ session.level }]}</span> <br>
                    <p>{[{ session.abstract }]}</p>
                    <hr>
                    <div class="btn-group">
                        <a class="btn" ng-click="upVoteSession(session)">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a class="btn" ng-click="downVoteSession(session)">
                            <i class="icon-thumbs-down"></i>
                        </a>
                    </div>
                    <div class="badge badge-inverse pull-right">
                        {[{ session.voteCount }]}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}lib/angular/angular-sanitize.js"></script>
<script src="{{ STATIC_URL }}js/eventsApp.js"></script>
<script src="{{ STATIC_URL }}js/controllers/EventsController.js"></script>
{% endblock js %}
