{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container" ng-app="EventsApp">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li></li>
            </ul>
        </div>
    </div>
    <div ng-controller="EventController" ng-init="init()">
        <img ng-src="{[{ currentEvent.imageUrl }]}" alt="{[{ currentEvent.name }]}">
        <h2>{[{ currentEvent.name }]}</h2>
        <div class="row-fluid">
            <div class="span8">
                <div><strong>Date:</strong> {[{ currentEvent.date }]}</div>
                <div><strong>Time:</strong> {[{ currentEvent.time }]}</div>
            </div>
            <div class="span4">
                <address>
                    <strong>Address:</strong> <br>
                    {[{ currentEvent.location.address }]} <br>
                    {[{ currentEvent.location.city }]}, {[{ currentEvent.location.province }]}
                </address>
            </div>
        </div>
        <hr>
        <h3>Sessions</h3>
        <ul class="thumbnails">
            <li ng-repeat="session in currentEvent.sessions">
                <div class="row-fluid">
                    <div class="span9 well">
                        <h4 class="well-title">{[{ session.name }]}</h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}js/controllers/EventController.js"></script>
{% endblock js %}
